# Ignore the "MapReduce" compile file
MapReduce
controller
worker_stub

# Ignore all .so files
*.so

# Ignore all .dll files
*.dll
*.lib
*.exp
*.obj
*.exe

# Ignore macOS dylib output files
*.dylib

# Ignore all log files
*.log

# Ignore specific folders
tempFolder/
interFolder/
outputFolder/
.vscode/