# Ignore all .so files
*.so

# Ignore all .dll files
*.dll
*.lib
*.exp
*.obj
*.txt
*.exe

# Ignore macOS dylib output files
*.dylib

# Ignore all log files
*.log

# Ignore the "MapReduce" compile file
MapReduce

# Ignore specific folders
tempFolder/
interFolder/
outputFolder/